
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
  }
  

.welcome {
    width: 300px;
    color: white;
    margin-bottom: 2rem;
  }
  
  .welcome h1 {
    font-weight: 200;
    margin: 0px;
  }


  .github {
      text-decoration: none;
  }