<div class="container">
  <div class="welcome text-center">
    <h1 class="text-center">!Bienvenido a GraduadoMetro</h1>
  </div>

  <app-login (valueChange)='displayCounter($event)'></app-login>
  <app-view-data [state] = "data.state" [name] = "data.name" [period] = "data.period" [percent] = "data.percent"
  [tableSubjects] = "data.tableSubjects" [tableSemester] = "data.tableSubjects"
  *ngIf = "view"></app-view-data>

  <label class="text-white text-center"><a href="https://github.com/JuanHoyosC" target="_blank"
      class="text-white github">Code by: Juan Carlos Hoyos</a></label>
</div>