

.form {
    color: rgb(50, 50, 50);
    background-color: white;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    padding-top: 0.1px;
    padding-bottom: 0.1px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }
  
  
  .login {
    font-weight: 200;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  
  hr{
    margin-top: 0px;
    margin-bottom: 2rem;
  }
  
  form .form-group {
    margin-bottom: 2rem;
    width: 100%;
  }
  

  .form .form-btn{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }


  
  .btn {
    width: 100%;
  }

  @media (max-width: 450px) { 
  
    form.form {
      background-color: transparent;
      color: white;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      border-radius: 0px;
      padding-left: 0;
      padding-right: 0;
     }
     
     hr {
       background-color: white;
     }
     
   }

   @media (max-width: 350px) { 
  
    form.form {
      background-color: transparent;
      color: white;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
      border-radius: 0px;
      padding-left: 0;
      padding-right: 0;
      width: 300px;
     }
  }