*{
    box-sizing: border-box;
  }
  
  :root {
    --background: linear-gradient(90deg, #2b5876, #4e4376);
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: var(--background);
  }
  